{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="row mt-5 mb-5 shadow">
        <div class="col-lg-6 p-4">
            <h3>Se connecter</h3>
            <form>
                <div class="form-group">
                  <label for="exampleInputEmail1">Email</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Mot de passe</label>
                  <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="form-group form-check">
                  <input type="checkbox" class="form-check-input" id="exampleCheck1">
                  <label class="form-check-label" for="exampleCheck1">Valider</label>
                </div>
                <button type="submit" class="btn btn-primary">Connecter</button>
              </form>
        </div>
        <img src="https://exp.cdn-hotels.com/hotels/45000000/44900000/44891900/44891879/9ee9c820_z.jpg?impolicy=fcrop&w=500&h=333&q=medium" alt="">
        <div class="col-lg-6">

        </div>

    </div>
</div>

{% endblock %}